.backgroundImg {
  width: 100%;
  height: 100vh;
  right: 0px;
  position: absolute;
  top: 0;
  margin: 0;
  z-index: -1;

}

.event {
  display: flex;
  flex-direction: column;
  background-color: #fff7d3;
  width: 400px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:20px;
  transition-duration: 0.2s;
}
.event h1 {
  width: 95%;
    font-size: 30px;
    margin: 10px;
    margin-bottom: 2px;
    text-wrap: balance
}
.event hr {
  border-top-color: black;
  width: 95%;
  border-bottom: none
}

.event:hover {
  scale: 1.05;
}

.event img {
  height: 30vh;
  width: 100%;
  object-fit: cover;
}

#citems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%
}

.citem {
  flex: 1;
  text-align: center
}

.main-content {
  position: relative;
  height: 100vh;
  margin: 0;
  margin-top: 91vh;
}

#abtct {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

#memberscontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

#pcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

#abtct p {
  margin: 0;
  font-weight: 300;
  font-size: 18px;
}

#c {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 4px;
}

#c p {
  margin: 0;
  font-size: 14px;
}

#facultydiv {
  margin-top: 15px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

#navlinks {
  margin-right: 0;
  margin-left: auto;
  flex-direction: row;
  display: flex;
}

#headh {
  height: 100vh;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.memberitem {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
  margin-top: 3px;
}

.memberitem p {
  margin: 0;
  margin-right: 10px;

}

table,
th,
tr,
td {
  border: solid 1px black;
  text-align: center;
}

.fitem {
  border: solid 1px black;
  padding: 5px;
  width: 300px;

}

.fitem input[type="text"] {
  width: 200px;
}

.fitem textarea {
  width: 270px;
  resize: none;
}

.fitem textarea::placeholder {
  color: rgb(126, 126, 126);
}

.fitem p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
}

#head-div {
  padding: 30px;
  margin: 0;
  text-align: left;
  border-radius: 3px;
  flex-direction: column;
  height: auto;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(53, 53, 53, 0.714);
}

#members {
  width: 90%;
  display: flex;
  flex-direction: row;
}


#instructors {
  width: 90%;
  display: flex;
  flex-direction: row;
}

#navlinks p {
  margin-right: 50px;
  font-weight: 400;
}

.info {
  font-size: 14px;
}

.cname {
  font-size: 25px;
  margin: 0;
  margin-top: 5px;
}

.bioopen {
  background: none;
  outline: none;
  border: none;
  margin-bottom: 10px;
  color: gray;
  font-size: 15px;
}

.medit {
  padding: 2px;
  border: solid 1px black;
  width: 30%;
  max-width: 500px;
}

.medit h3 {
  margin: 0;
}

.medit input[type=text] {
  margin-left: 2px;
  margin-right: 2px;
  width: 97%;

}

.bioopen:hover {
  color: #B74921;
}

.subinfo {
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px
}

.cinp {
  width: 50%;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#minp {
  width: 50%;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBar {
  position: relative;
  background-color: #FFFBE8;
  height: 9vh;
  width: 100%;
  top: 0;
  color: #B74921;
  display: flex;
  display: flex;
  z-index: 50;
  align-items: center;
  justify-content: flex-start;
}

.navBar h4 {
  font-size: 20px;
}

#head-content {
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 96vh;
  z-index: 5;
}

.phalf {
  width: 42%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 2%;
  text-wrap: balance;
  text-align: center;
  margin-left: 2%;
}

.phalf p {
  margin: 0;
  margin-bottom: 10px;
}

.pfull {
  width: 100%;
  display: flex;
  flex-direction: row;
}
#menu {
  height: 100vh;
  width: 0;
  top: 0;
  margin: 0;
  right: 0;
  padding: 0;
  color: #B74921;
  z-index: 400;
  position: fixed;
  opacity: 1;
  display: flex;
  background-color:#fffcf0;
}
#abtmain h1{
  font-size:40px;
  
}
#abtmain p{
  font-size:20px;
  
}

#mbar {
  display:none;
  margin-right:10px;
  margin-left:auto;
  font-size:18px;
}
#menulinks {
  margin-left: 25px;
  width: 100%;
  height: 60vh;
  display: flex;
  z-index: 280;
  flex-direction: column;
  justify-content: center;
  opacity: 0;

}
#mx {
  display: none;
  position: relative;
  opacity: 0;
  z-index: 205;
  text-align: center;
  align-items:center;
  justify-content:center;
  margin-top:15px;
  width:23px;
  margin-left:15px;
  height:23px;
  font-size:25px;
  color: #B74921;
  transition: transform .5s ease-in-out;
}
#mbar,#mx {
  display:none;
}
#mx:hover {
  transform: rotate(90deg);
}

@media only screen and (max-width: 900px) {
  #navlinks {
    display:none;
  }
  .navbar {
    height:10vh;
  }
  #mbar {
    display:block;
  }
  #abtmain h1{
  font-size:30px;

  }
  #abtmain p{
    font-size:17px;

  }
  #abtmain {
    width:40% !important;
  }
  #head-title {
    font-size:33px !important;
    line-height:33px !important;
  }
  #head-title-2 {
    font-size:37px !important;
  }
  #head-sub {
    font-size:15px !important;
  }
  .navBar > p{
    font-size:30px !important;
  }
  main > .main-content {
    height:auto !important;
    flex-direction: column !important;
  }
  #citems {
    flex-direction: column;
  }
  .event h1 {
    font-size:20px;
    max-width:100%;
    
  }
  #abtct {
    width:90%;
  }
  #abtct p {
    font-size:15px;
  }
  #abtheader {
    font-size:40px !important;
  }
  .newshead h1 {
    font-size:40px !important;
  }
  .newshead p {
    font-size:15px !important;
    max-width:80vw;
  }
  #content {
    width:90% !important;
  }
  #content h1 {
    font-size:38px !important;
  }
  #content h2 {
    font-size: 19px !important
  }
  #content h3 {
    font-size:15px !important
  }
  #events {
    width:100% !important;
  }
  #mainnwscon {
    width:100% !important;
  }
  #members {
    width:90%;
    flex-direction: column;
  }
  #abtmain {
    margin-top:30vh;
    width:90% !important;
    height:16vh !important;
  }
  .cinp {
    width:95%;
  }
  #memtitle {
    font-size:40px !important;
  }
  .cinp p {
    font-size:14px; 
  }
  #instructors {
    flex-direction: column;
    width:90%;
  }
  #memberscontent {
    width:90% !important;
  }
  .cname {
    font-size:21px !important;
    font-weight: 700;
  }
  #abtimgmain {
    width:90% !important;
    height:70vh !important;
  }
  #abtimgmain img {
    height:40vh !important;
    width:100% !important;

  }
  #c p {
    font-size:12px !important;
  }


}
